/*
Author: Kaiser Slocum
Date (Last Edited): 7/9/2022
*/

/* Body */
body {
	width: 100%;
	min-width: 1000px;
    max-width: 1900px;	
	background-color: black;
	background-image: url(004.jpg);
	background-repeat: no-repeat;
    background-size: cover;
	font-family: 'Times New Roman';	
}
h1{
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}
h2{
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
}
h3{
    font-family: Georgia, serif;
    text-align: center;
}

/* Section */
section {
	display: block;
	clear: left;
	float: left;
	width: 60%;		
	background-color: rgba(210, 180, 140, 0);
	border-radius: 20px;
	padding: 10px;
	padding-top: 0px;
}
section article {
	background-color: rgba(57, 175, 230, 0.7);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
	font-weight: bold;	
}
section article h2 {
	background-color: rgb(52, 146, 44);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	text-align: center;	
}
section p {
	margin: 0px;
	margin-left: 10px;
	padding: 5px;	
	width: 95%;
}
section article#websites img:hover{	
	-webkit-transform: perspective(350) rotateY(30deg);
}
section article#websites{
	min-height: 420px;
}

section article#kaiser p:first-of-type{
	margin-top: -10px;
}
section article#kaiser {
	margin-top: 10px;
	height: 100%;
	padding-bottom: 0;
}
section article#kaiser img {
	width:100%;
}
section article#kaiser figure{
	float: left;
	clear: left;
	width: 100%;
	max-width: 100px;
	margin: 10px;
	margin-top: -10px;
}
section article#kaiser figcaption{	
	margin: 0px;
	width: 100%;
	clear: left;
	float: left;
	text-align: center;	
	background-color: rgba(0,0,0,.2);
	outline: 2px solid black;
	margin-top: -2px;
}

section article#websites img {
	width: 100%;
	float: left;
	margin: 0px;
}
section article#websites figure{
	float: left;
	clear: left;
	width: 100%;
	max-width: 200px;
	margin: 10px;
	padding-right: 10px;
}
section article#websites figcaption{	
	margin: 0px;
	width: 100%;
	clear: left;
	float: left;
	text-align: center;	
	background-color: rgba(0,0,0,.2);
	outline: 2px solid black;
}
section article a{
	text-decoration: none;
	font-size: 1.1em;
	color: blue;
}
section article a:hover{
	text-decoration: underline;
}
section ul li{
	list-style-type: none;
	text-align: center;
	padding: 5px;
	font-weight: bold;
	font-size: 1.5em;
}

/* Aside */
aside {	
	display: block;	
	clear: right;
	float: right;
	width: 30%;
	height: 50%;	
	margin-bottom: 20px;		
	background-color: rgba(210, 180, 140, 0);
}
aside article{   	
	text-indent: 1em;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;	
	font-weight: bold;
	border-radius: 20px;
	text-align: center;
	margin: 10px;
	background: rgba(57, 175, 230, 0.7);
	/*background: linear-gradient(black, rgba(57, 175, 230, 0.7) 99%, rgba(255,255,255,0) 1%);*/
}

aside article p {
	padding: 20px;
	margin: 0px;
	margin-top: -10px;
	text-align: left;
	text-indent: 0px;
}
aside h2 {
	text-align: center;
	text-indent: -5px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;		
	background-color: rgb(52, 146, 44);
	padding: 5px;
}
aside img{
	width: 40%;
}
aside p img:last-of-type{
	width: 45%;
	float: left;
}
#DJChess {
	margin-top: -30px;	
	margin-left: 10px;
	width: 50%;
}
#description{
	clear: left;
}

/* Nav */
nav {
	display: block;
	margin-left: -30px;	
	width: 100%;	
}
nav ul li:last-of-type {
	float: right;
	width: auto;
	margin-right: 20%;
	margin-top: -20px;
}
nav ul li{  
	list-style-type: none; 
	float: left;  	
	height: 20px;
	width: 45%;	
	margin-left: 20%;	
}
nav ul li a{    
    background-color: rgba(57, 175, 230, 0.7);
	color: black;
	text-decoration: none;
    border-radius: 50px;
	text-align: center;   	
	margin: 0em 0em 0em 0em;
    padding: .5em 2em .5em 2em;
}
nav ul a:hover, article dl a:hover{
    color: brown;
}
nav ul a:active, article dl a:active{
    color: lime;
}
nav ul li a, article dl a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}